USE [master]
GO
/****** Object:  Database [SingleCRUD.DB]    Script Date: 8/10/2023 4:32:51 PM ******/
CREATE DATABASE [SingleCRUD.DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SingleCRUD.DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SingleCRUD.DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SingleCRUD.DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SingleCRUD.DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SingleCRUD.DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SingleCRUD.DB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/10/2023 4:32:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](50) NULL,
	[EmployeeEmail] [nvarchar](50) NULL,
	[EmployeeAge] [int] NULL,
	[EmployeeAddress] [nvarchar](200) NULL,
	[EmployeeCountry] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeId], [EmployeeName], [EmployeeEmail], [EmployeeAge], [EmployeeAddress], [EmployeeCountry]) VALUES (2, N'Klaus Michealson', N'klaus@gmail.com', 1800, N'New Orleans', N'USA')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
USE [master]
GO
